@use "variables" as v;

%hover-black-icon {
  &:hover {
    fill: v.$color_white-d;
  }
}

%hover-black-a {
  &:hover {
    color: v.$color_white-d;
  }
}

%hover-black-i {
  &:hover {
    color: v.$color_white-d;
  }
}